<ul class="list-group">
  <li class="list-group-item">
    <div class="input-group mb-3">
      <input type="text" class="form-control" (input)="search(textSearch.value)" #textSearch>
      <span class="input-group-text"><button type="button" (click)="search(textSearch.value)"
                                             class="btn btn-outline-dark"><fa-icon [icon]="faSearch"></fa-icon></button></span>
    </div>
  </li>
  <a (click)="pickOne(item.code)" class="list-group-item" *ngFor="let item of filteredPqrs"><p
    class="fw-bold">{{item.date}}</p> {{item.code}} - {{item.subject}}</a>
</ul>
